/*ipad and smaller computers*/
/*big tablets to 1200px (widths smaller than 1140px row)*/
@media (max-width: 1200px) {
	.hero-text-box {
	width: 100%;
	padding:0 3%;
}
.row {
	padding:0 3%;
}
}



/*small tablet to big tablet ipad in potrait mode (landscape view)*/
@media (max-width: 1023px) {
	body  {
		font-size: 18px;
	}
	section {
		padding: 60px 0;
	}
	.long-copy {
    width: 80%;
    margin-left: 10%;
}
.app-screen {
    max-width: 55%;
    }
.work-step {
	margin-bottom: 12%;
	
}
.work-step div {
	width: 45px;
	height: 50px;
	padding: 5px;
	font-size: 130%;
}
.work-step p {
    width: 79%;
    font-size: 100%;
 }
 .btn-app img {
	margin-top: 10px;
	height: 45px;
}
.icon-small {
	width: 13px;
	font-size: 10%;
	margin-right: 6px;
}
.city-feature {
	font-size: 81%;
}
.cities h3 {
		font-size: 93%;
}
blockquote {
	font-size: 90%;
}
.plan-box {
	width: 100%;
	margin-left: 0;
	font-size: 80%;
	}
.plan-price {
	font-size: 250%;
}
.contact-form {
	width: 100%;
}
}

/*small phones to small tablet*/
@media (max-width: 767px) {
body  {
		font-size: 16px;
	}
	section {
		padding: 30px 0;
	}
	.row, .hero-text-box {
		padding: 0 4%;
	}
.col {
		width: 100%;
		margin: 0 0 3% 0;
	}
.logo {
	height: 50px;
	margin-top: 10px;
}
/*
.main-nav {
	margin-top: 20px;
	max-width: 80%;
}
.main-nav li {
	margin-right: 0;
	margin-left: 0;
}

.main-nav li a:link, .main-nav li a:visited {
	font-size: 85%;
	padding-bottom: 4px;
}*/
.main-nav {
	display: none;
}
h1{
font-size: 180%;
}

h2 {
	font-size: 125%;
	}
h2::after{
	margin-top: 15px;
	height: 3px;
	width:120px;
}
.long-copy {
    width: 100%;
    margin-left: 0;
}
.app-screen {
    max-width: 40%;
    }
 .steps-box:first-child {
    text-align: center;
    padding-right: 0;
    margin-top: 20px;
}
.work-step {
    margin-bottom: 8%;
}
.work-step div {
    width: 40px;
    height: 40px;
    padding: 4px;
    font-size: 100%;
}
.icon-small {
	width: 40px;
	font-size: 120%;
	margin-right:10px;
}
.city-feature {
		font-size: 120%;
	}
.cities-img {
	padding-bottom: 15px;
}
.cities h3 {
		font-size: 130%;
}
.plan-box {
	font-size: 100%;
	}
.plan-price {
	font-size: 330%;
}
	}


/*small phones*/
@media (max-width: 480px) {
		section {
			padding: 20px 0;
		}
}