/*pink color: #ff7675*/
/*---------------------------------*/
/*BASIC SETUP*/
/*---------------------------------*/
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: #FFF;
	color: #555;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
/*---------------------------------*/
/*REUSABLE*/
/*---------------------------------*/

.row {
	max-width: 1140px;
	margin: 0 auto;
}

h1, h2, h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
} 
h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 200%;
	word-spacing: 3px;
	letter-spacing: 1px;
}
h2 {
		font-size: 170%;
		word-spacing: 2px;
		text-align: center;
		margin-bottom: 30px;
		letter-spacing: 1px;
}
h2::after{
	display: block;
	height: 4px;
	background-color: #ff7675;
	content: " ";
	width:150px;
	margin: 0 auto;
	margin-top: 30px;
}
h3 {
font-size: 100%;
margin-bottom: 15px;
text-align: center;
}
/*-------icons--------*/
.icon-big {
	font-size: 300%;
	display: block;
	color: #ff7675;
	text-align: center;
	margin-bottom: 20px;
}
/*--------PARGRAPHS--------*/
.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	text-align: justify;
}
.box p {
	line-height: 145% ;
	font-size: 90%;
	text-align: justify;
}
/*--------BUTTONS-------*/
.btn:link , .btn:visited {
	display: inline-block;
	padding: 10px 30px; 
	color: #fff;
	border-radius: 10px;
	text-decoration: none;
	border: 2px solid #ff7675;
	transition: background-color 0.3s, border0.3s, color 0.3s;

} 

.btn-full:link, .btn:visited {
	background-color: #ff7675;
	margin-right: 20px;
}
.btn-ghost:link, .btn-ghost:visited  {
	color: #ff7675;
}
.btn:hover, .btn:active {
	background-color: #ff7675;
	border: 1px solid #ff7675;
	color: #fff;
}
section {
	padding: 80px 0;
}
.box {
	padding: 1%;
}
/*---------------------------------*/
/*HEADER*/
/*---------------------------------*/

header {
	background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/hero.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
 	transform: translate(-50%, -50%);
}
.company-name {
	font-family: 'Indie Flower', cursive;
	text-decoration: underline;
	color:  #ff7675;
}
.logo {
	height: 100px;
	width: auto;
	margin-top: 20px;
	display: inline-block;
}
.main-nav {
	list-style: none;
	float: right;
	margin-top: 60px;
}
.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 100%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s;
	padding-bottom: 8px;
}
.main-nav li a:hover, .main-nav li a:active {
	border-bottom: 2.5px solid #ff7675;
}
/*---------------------------------*/
/*section*/
/*---------------------------------*/

