/*pink color: #ff7675*/
/*---------------------------------*/
/*BASIC SETUP*/
/*---------------------------------*/
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	background-color: #FFF;
	color: #555;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
/*---------------------------------*/
/*REUSABLE*/
/*---------------------------------*/

.row {
	max-width: 1140px;
	margin: 0 auto;
}

h1, h2, h3 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
} 
h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 200%;
	word-spacing: 3px;
	letter-spacing: 1px;
}
h2 {
		font-size: 170%;
		word-spacing: 2px;
		text-align: center;
		margin-bottom: 30px;
		letter-spacing: 1px;
}
h2::after{
	display: block;
	height: 4px;
	background-color: #ff7675;
	content: " ";
	width:150px;
	margin: 0 auto;
	margin-top: 30px;
}
h3 {
font-size: 100%;
margin-bottom: 15px;
text-align: center;
}

/*-------icons--------*/
.icon-big {
	font-size: 300%;
	display: block;
	color: #ff7675;
	text-align: center;
	margin-bottom: 20px;
}
.icon-small {
	color: #ff7675;
	display: inline-block;
	width: 30px;
	height: auto;
	text-align: center;
	font-size: 130%;
	vertical-align: middle;
	margin-top: -5px;
	margin-right:8px;
}
/*---------generic links--------*/
a:link, a:visited {
	text-decoration: none;
	color: #ff7675;
	border-bottom: 1px solid #ff7675;
	padding-bottom: 1px;
	transition: border-bottom 0.2s, color 0.2s;
}
a:hover, a:active {
	color: #555;
	border-bottom: 1px solid transparent;
}

/*--------PARGRAPHS--------*/
.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	text-align: justify;
}
.box p {
	line-height: 145% ;
	font-size: 90%;
	text-align: justify;
}
.section-features .long-copy {
	margin-bottom: 30px;
}
/*--------BUTTONS-------*/
.btn:link , .btn:visited, input[type=submit] {
	display: inline-block;
	padding: 10px 30px; 
	color: #fff;
	border-radius: 10px;
	text-decoration: none;
	border: 2px solid #ff7675;
	transition: background-color 0.3s, border0.3s, color 0.3s;

} 

.btn-full:link, .btn:visited, input[type=submit] {
	background-color: #ff7675;
	margin-right: 20px;
}
.btn-ghost:link, .btn-ghost:visited  {
	color: #ff7675;
}
.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active {
	background-color: #ff7675;
	border: 1px solid #ff7675;
	color: #fff;
}
section {
	padding: 80px 0;
}
.box {
	padding: 1%;
}
/*---------------------------------*/
/*HEADER*/
/*---------------------------------*/

header {
	background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(img/herro.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
 	transform: translate(-50%, -50%);
}
.company-name {
	font-family: 'Indie Flower', cursive;
	text-decoration: underline;
	color:  #ff7675;
}
.logo {
	height: 100px;
	width: auto;
	margin-top: 20px;
	display: inline-block;
}
.main-nav {
	list-style: none;
	float: right;
	margin-top: 30px;
}
.main-nav-ul li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav-ul li a:link, .main-nav li a:visited {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 100%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5s;
	padding-bottom: 8px;
}
.main-nav-ul li a:hover, .main-nav li a:active {
	border-bottom: 2.5px solid #ff7675;
}
/*---hamburger menu--------*/
.main-nav label, #hamburger {
  display: none;
}
/*---------------------------------
section meals
---------------------------------*/
.meals {
	padding: 0;
}
.meals-showcase {
	list-style: none;
	width: 100%;
	display: flex;
}
.meals-showcase li {
	max-width: 25%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.meals-showcase li img {
	width: 100%;
	height: auto;
	object-fit: cover;
	transform: scale(2);
	transition: transform 0.5s, opacity 0.5s; 
	opacity:0.8 ; 
}
.meals-showcase li img:hover {
	transform: scale(1.50);
	opacity:1;
}
/*-----------------------------
-----how it works-------
----------------------------*/
.section-steps {
	background-color: #f4f4f4;
}

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
}
.steps-box:last-child {
	padding-left: 3%;
	margin-top: 40px;
}
.app-screen {
	max-width: 40%;
	height: auto;
}
.work-step {
	margin-bottom: 50px;
	
}
.work-step div {
	color: #ff7675;
	border: 2px solid #0000005c;
	display: inline-block;
	width: 50px;
	height: 55px;
	text-align: center;
	padding: 6px;
	font-size: 150%;
	   margin-right: 15px;
	       vertical-align: middle;
    margin-top: -27px;
}
.work-step p {
	display: inline-block;
	width: 85%;
}
.btn-app img {
	height: 50px;
	width: auto;
	margin-top: 20px;
}
.btn-app:link , .btn-app:visited {
	border: 0;
}
/*--------------------------
----location section----
--------------------------*/
.box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 15px;
}
.city-feature {
	margin-bottom: 10px;
}
.cities-img {
	width: 100%;
	height: 50%;
	padding-bottom: 10px;
}
.cities .box  {
	height: 400px;
}
/*--------------------------------
--section-testimonials--------
-------------------------------*/
.section-testimonials{
	background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8) ), url(img/back-customers.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}
blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 140%;
	position: relative;
	margin-top: 40px;
	
}
cite {
	margin-top: 20px;
	font-size: 90%;
	display: block;
}
blockquote:before {
 	content: "\201c";
 	font-size: 500%;
 	display: block;
 	position: absolute;
 	top: 0;
 	left: -5px;
 	font-style: normal;

 }
cite img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	
}
.cite-div-img {
	height: 45px;
	width:45px;
	margin-right: 10px;
	vertical-align: middle;
	display: inline-block;
}

/*---------------------------
--------pricing sectio------
----------------------------*/

.section-plans {
	background-color: #f4f4f4;
}
.plan-box {
	background-color: #fff;
	border-radius: 4px;
	width: 90%;
	margin-left: 5%;
	box-shadow:0 2px 3px 2px #efefef;
}
.plan-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}
.plan-price {
	font-size: 300%;
	margin-bottom:  10px;
	font-weight: 100;
	color: #ff7675;
}
.plan-price span {
	font-size: 30%;
	font-weight: 700;
}
.plan-price-meal {
	font-weight: 80%;
}
.plan-box ul {
	list-style: none;
}
.plan-box ul li {
	padding: 5px 0;
}
.plan-box div:last-child {
	text-align: center;
	border: none;
}
.plan-box div:first-child {
	background-color: #f4f4f457;
}

/*--------------------------
-----------form----------
------------------------*/

.contact-form {
	width: 60%;
	margin: 0 auto;
}
input[type=text], input[type=email], select, textarea {
	padding: 7px;
	width: 80%;
	border-radius: 4px;
	border: 1px solid #ccc;
}
textarea{
	height: 100px;
}
input[type=submit] {
	cursor: pointer;
}
input[type=checkbox] {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
}
*:focus {outline: none;}
select {
	background-color: #f4ecec;
}
/*--------------------------
----footer----------------
--------------------------*/
footer {
	background-color: #333;
	padding:40px;
	font-size: 80%;
}
.footer-nav {
list-style: none;
margin-left: 8%;
text-align: center;
}
.footer-nav-div{
	display: flex;
justify-content: space-evenly;
max-width: 90%;
}
.social-links {
	list-style: none;
}
.social-links-div {
	display: flex;
justify-content: space-evenly;
max-width: 40%;
margin-left: 60%;
}
.social-links li, .footer-nav li {
	display: inline-block;
}
.footer-nav li a:link, .footer-nav li a:visited, .social-links li a:link, .social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #999;
	transition: color 0.2s;
}
.footer-nav li a:hover, .footer-nav li a:active {
	color: #ddd;
}
.social-links li a:visited, .social-links li a:link {
	font-size: 150%;
}
.fa-facebook-official,
.fa-instagram, .fa-twittersquare, .fa-google-plus-square {
	transition: color 0.2s;
}
.fa-facebook-official:hover {
	color: #1b03a3;
}
.fa-instagram:hover {
	color:  #ffcccb;
}
.fa-google-plus-square:hover {
	color: #FFA500;
}
.fa-twitter-square:hover {
	color: #00aced;
}
footer p {
	text-align: center;
	color: #999;
	margin-top: 20px;
}
